<h1 style="color: aqua; font-size: 40px; text-align: center; margin-top: 200px;" class="fst-italic">Welcome to About us Page</h1>
<div class="container d-flex align-items-center glass fst-italic">
    <img src="profile.jpg" class="rounded-circle" width="300px" height="300px" style="margin-right: 20px;">
    <div>
      <h2 class="fst-italic">About Me</h2>
      <p class="fst-italic" style="color: #000000;">
        Hello, my name is Chaitanya. I am a passionate Full Stack Developer, and I love designing and developing
        self-driven projects. This particular project is a reflection of my interest in Web development.
      </p>
      <p class="fst-italic" style="color: #000000;">
        I designed this project to watch the Cartoon Series. During the development process, I encountered challenges related to connecting with the Backend with Spring Boot, but I was able to overcome them through dedication and a constant desire to learn.
      </p>
      <p class="fst-italic" style="color: #121211;">
        A huge part of this project's success is due to the guidance and mentorship I received from K. Charan Kumar, who is an expert in Java Full Stack and Other domains etc.,. Their advice and feedback were invaluable in shaping the final product. K. Charan Kumar helped me navigate complex problems and pushed me to think critically about my solutions.
      </p>
      <p class="fst-italic" style="color: #0e0e0e;">
        I am extremely grateful for their support and will continue to apply the lessons learned from their mentorship in my future projects.
      </p>
    </div>
  </div>
  
  
